---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Welcome to Astro.">
  <Navbar />
	<main class="container justify-center">
    <h1>Hi there!</h1>
	</main>
</Layout>

<style>
  .container {
    @apply px-[2rem];
  }
</style>
