---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';

const posts = await Astro.glob("./p/*.{md,mdx}");
---

<Layout 
  title="Ramblings of a Fox" 
  description="A rambly collection of posts with everything from CTF writeups, bad ideas, bikepacking excursions, and more.">
  <Navbar />
	<main class="container justify-center">
    <h1>Hi there!</h1>
    <p>I'm <span class="italic">/skaɪ-tuː/</span>. This blog is mostly a rambly collection of posts on different topics.</p>

    <p>
      You can also find me in a couple other places on the internet:<br>
      <div class="w-full text-base text-center">
        <a href="https://twitter.com/skyetothefox" class="hover:text-cyan-300">twitter</a> |
        <a href="https://github.com/skyeto" class="hover:text-gray-300">github</a> |
        <a href="https://keybase.io/skyeto" class="hover:text-orange-300">keybase</a> |
        <a href="https://discord.gg/gfc2mZpfaz" class="hover:text-purple-300">discord</a>
      </div>
    </p>


    <h2>> posts</h2>
    <ul class="posts">
      {posts.map((post) => 
      <li>
        <a class="block w-full" href={post.url} rel="prefetch">
          <div class="inline-block">{post.frontmatter.title}</div>
          <div class="inline-block monospace float-right">[{post.frontmatter.pubDate.slice(0,10)}]</div>
        </a>
      </li>)}
    </ul>
	</main>
</Layout>

<style>
  .container {
    @apply px-[2rem];
  }

  .posts {
    font-family: "Cascadia Code", monospace;
  }

  .posts li a:hover {
    @apply text-[#00b5e2] transition;
  }

  ol { counter-reset: ctr -1; }
  ol li { counter-increment: ctr; }
  ol li::before {
    @apply mr-[.5rem];
    content: "[" counter(ctr) "]";
  }
</style>
