---
import Lights from "./Lights.astro";

const { showBacklink, navbar } = Astro.props;
---

<div class="">
  <Lights transition:persist />

  {showBacklink !== false &&
  <nav class="w-full">
    <div class="">
      <ul class="">
        <li>
          <a
            class="text-neutral-100 opacity-50 mix-blend-luminosity"
            href="/"
            rel="prefetch"
            >< back</a
          >
        </li>
      </ul>
    </div>
  </nav>
  }
</div>

<style>
  nav ul {
    width: var(--container-width);
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
  }

  nav ul li {
    font-family: var(--tool-font-family);
    font-size: 0.833rem;
    font-weight: 700;
    display: inline;
  }
</style>
