---
export interface Props {}
---

<div class="container">
  <nav>
    <ul>
      <li><a href="/" rel="prefetch">[home]</a></li>
      <li><a href="/" rel="prefetch">[about]</a></li>
    </ul>
  </nav>
</div>

<style>
  nav > ul {
    @apply list-none px-[2rem] mt-[1rem];
  }

  nav > ul > li {
    @apply inline mr-[0.5rem];
  }

  nav a {
    font-family: "Disket Mono Bold", monospace;
    color: rgb(225,225,225);
    mix-blend-mode: luminosity;
  }

  nav a:hover {
    color: rgb(250,250,250);
  }
</style>
