---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

    <link rel="preload" as="font" href="/fonts/RobotoSlab-Regular.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/fonts/CascadiaCode.woff2" type="font/woff2" crossorigin="anonymous">
	</head>
  <body>
    <slot />

    <footer>
      &copy; 2022 skyeto
    </footer>
	</body>
</html>
<style is:global>
  @font-face {
    font-family: "Cascadia Code";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/CascadiaCode.woff2") format("woff2");
  }

  @font-face {
    font-family: "Roboto Slab";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/RobotoSlab-Regular.woff2") format("woff2");
  }

	:root {
		--accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);

    --background: #212227;
    --body: #F7F6F3;
    --muted: #DEDBCF;
	}
  
  html {
    font-family: "Roboto Slab", system-ui, sans-serif;
    background-color: var(--background);
    background: linear-gradient(339deg, rgba(28,28,32,1) 0%, rgba(42,42,48,1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;

    color: var(--body);
  }

  h1,h2,h3,h4 { font-family: "Cascadia Code", monospace; }
  h1 {
    @apply text-2xl mt-[2rem] mb-[1rem];

    color: #00b5e2;
    background-image: linear-gradient(90deg, rgba(0,181,226,1) 0%, rgba(68,224,255,1) 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    background-position: 0%;
  }

  h2 {
    @apply text-[1.23rem] font-bold mb-[.5rem] mt-[2.5rem]; 
  }
  h3 {
    @apply text-[1.16rem] mb-[.5rem] mt-[1.5rem];
  }
  h4 {}

  p {
    @apply text-base mb-[.5rem];
    font-kerning: normal;
    font-variant-ligatures: common-ligatures contextual;
    font-feature-settings: "kern", "liga", "clig", "calt";

    word-break: normal;
    hyphens: auto;
  }
  
  /* Container */
  .container {
    @apply max-w-2xl mb-4 mx-auto;
  }

  /* Images */
  img {
    @apply my-[2rem] relative -mx-[2rem] rounded shadow;
    width: calc(100% + 4rem);
    max-width: calc(100% + 4rem);
  }

  code {
    font-variant-ligatures: normal;
    font-feature-settings:"liga" on, "dlig" on;
    letter-spacing: normal !important;
    text-rendering: optimizeLegibility;
    font-family: "Cascadia Code", Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
  }

  pre.astro-code {
    @apply text-sm leading-[1.15] py-[1rem] px-[.5rem] rounded border border-[#00b5e2] shadow-sm shadow-[#00b5e2];
  }
</style>
