---
import Layout from "./Layout.astro";
import Navbar from "../components/Navbar.astro";
const { frontmatter } = Astro.props;
---


<Layout
    title={frontmatter.title}
    description={frontmatter.description}
    pubDate={frontmatter.pubDate}>
  <Navbar />
  <article class="container justify-center gap-2 text-base" transition:name="content">
    <h1 transition:name="title">{ frontmatter.title }</h1>
    <p class="pubdate">published { frontmatter.pubDate.slice(0, 10) }</p>
    <p class="ingress">{ frontmatter.description }</p>
    <slot />
  </article>
</Layout>

<style is:global>
  article > aside {
    color: var(--muted) !important;
    display: block;
    float: left;
    position: absolute;

    @apply ml-[-11rem] w-[12rem];

    clear: both;
    margin-bottom: 1rem;

    font-style: italic;
    font-size: 0.97rem;
    line-height: 1.3;
    text-align: right;
  }

  article > .pubdate {
    font-style: italic;
    color: var(--muted);
  }

  article > aside > p {
    @apply text-sm;
    hyphens: none;
  }
  article > aside > p:last-child {
    @apply mb-[4rem];
  }

  /* Lists */
  article > p, article ol, article ul,  article>h1,article>h2,article>h3,article>h4, article>section>h2{
    @apply px-8;
  }

  article > .ingress {
    @apply mt-[1rem] mb-[2rem];
    font-style: italic;
  }

  article > p {
    margin-bottom: 1rem;
  }
  
  article > pre.astro-code {
    @apply my-[2rem] -mx-[3rem];
  }

  article > ul {
    @apply list-disc mb-[1rem];
    list-style-position: inside;
  }

  article > ol {
    @apply list-decimal mb-[1rem];
  }

  article li {
    @apply mb-[.5rem];
  }

  article a {
    @apply hover:underline decoration-dashed text-[#00b5e2];
  }

  article > .footnotes {
    @apply mt-[10rem];
  }

  article > .footnotes > ol li p:first-child:before {
    content: "> ";
  }
</style>

