---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<style is:global>
  article > aside {
    color: var(--muted) !important;
    display: block;
    float: left;
    position: absolute;

    @apply ml-[-11rem] w-[12rem];

    clear: both;
    margin-bottom: 1rem;

    font-style: italic;
    line-height: 1.3;
    text-align: right;
  }

  article > aside > p {
    @apply text-sm;
  }
  article > aside > p:last-child {
    @apply mb-[4rem];
  }

  article {
    @apply max-w-2xl mb-4 mx-auto;
  }

  /* Lists */
  article > p, article > ol, h1,h2,h3,h4 {
    @apply px-8;
  }

  /* Images */
  article > p > img {
    @apply my-[2rem] relative -mx-[2rem] rounded;
    width: calc(100% + 4rem);
    max-width: calc(100% + 4rem);
  }

  article > .ingress {
    @apply mt-[1rem] mb-[2rem];
    font-style: italic;
  }

  article > p {
    margin-bottom: 1rem;
  }
  
  article > pre.astro-code {
    @apply my-[2rem] -mx-[3rem];
  }

</style>

<Layout>
  <article class="justify-center gap-2 text-base mt-8">
    <h1>> { frontmatter.title }</h1>
    <p class="ingress">{ frontmatter.description }</p>
    <slot />
  </article>
</Layout>

